* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/MackinacIslandDowntown.jpg/1200px-MackinacIslandDowntown.jpg");
    background-repeat: no-repeat;
    height: auto;
    font-size: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header {
    display: flex;
    justify-content: center;
}

h1, p {
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.quiz-title {
    display: flex;
    justify-content: center;
    left: 25%;
    width: 50%;
    height: 15%
}

.questions-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    display: flex;
    border: none;
}

#js-submit {
    border-radius: 3px;
    align-self: center;
    align-items: flex-end;
    
}
.background-box {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#fafafa, #9aa2fa)
    
}

.correct-screen, .wrong-screen, .result-screen {
    flex-direction: column;
    align-items: center;
}

.text-left {
    display: flex;
    flex-direction: column;
    align-content: left;
}


.js-count-score {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
}

.js-next {
    border-radius: 3px;
    align-self: center;
    top: 90%
}

.quiz-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}



button {
    display: block;
    margin: auto auto;
}

.start {
    text-align: center;
    
}



.hidden {
    display: none;
}

#ferry-photo, #vaca-photo {
    display: block;
    height: 30%;
    width: 30%;
    margin: auto auto;
    
}

#winter-photo {
    display: block;
    height: 40%;
    width: 40%;
    margin: auto auto;
}

@media screen and (min-width: 700px) {
    .js-count-score {
        text-align: center;
    }

}

@media screen and (min-width: 900px) {
    body {
        background-size: auto;
    }
}