* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/MackinacIslandDowntown.jpg/1200px-MackinacIslandDowntown.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 1.5em;
}

.background-box {
    border: none;
    width: 75%;
    height: 50%;
    margin: auto auto;
    background: linear-gradient(#fafafa, #9aa2fa)
    
}

.text-left {
    align-content: left;
}

.inline {
    display: inline-block;
    padding: 10px;
}

.js-count-score {
    text-align: center;;
}




h1, p {
    text-align: center;
}

button {
    display: block;
    margin: auto auto;
}

.start {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: orange;
}



.hidden {
    display: none;
}

#correctFerry, #vaca-photo {
    display: block;
    height: 30%;
    width: 30%;
    margin: auto auto;
    
}



@media screen and (min-width: 400px) {

}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 900px) {
}